/*----------------- Normal Layout  -------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn > button {
    background: #fd5f00;
	color: #fff;
	border: none;
	padding: .5em 1em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 5%;
}

img {
    width: 100%;
}

/*----------------- HEADER  -------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.contact-head {
    display: flex;
}

.mail, .call {
    display: flex;
    padding: 0 22px;
}

.mail-icon, .call-icon {
    padding-top: 12px;
    padding-right: 12px;
}

.mail-icon > i, .call-icon > i {
    color: rgb(253, 95, 0);
}

.mail-content > span, .call-content > span {
    font-weight: 700;
}

.mail-content > p, .call-content > p {
    padding-top: 5px;
}

/* ------------------------------------- */

.navbar {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #0d1128;
    padding: 0 6px;
}

.nav-links ul {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    padding: 0 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10%;
    height: 3em;
    width: 20em;
}

.search input {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    height: 2em ; 
}

.search > i {
    margin-left: 5em;
}

/*----------------- MAIN  -------------*/

.banner {
    width: 100vw;
    height: 40em;
    background: linear-gradient(45deg, rgb(0,0,0,0.6), rgba(253, 95, 0, 0.6)), url("./images/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner-img img {
    opacity: 0.5;
    height: 40em;
    position: absolute;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.banner-title h2 {
    font-size: 50px;
    line-height: 1.2;
}

.banner-content > p {
    padding-top: 1em;
    font-size: 20px;
}

.banner-btn {
    padding-top: 1.7em;
}

.banner-btn button {
    padding: 15px 25px;
    border-radius: 9%;
    font-size: 20px;
}

/* ----------------------------------------- */

.divider {  
    display: flex;
}

.divi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 2em;
    color: #fff;
}

.divi > img {
    color: #fff;
    width: 3em;
    padding-bottom: 2em;
}

.divi:nth-child(2n) {
    background: #0d1128;
}

.divi:nth-child(2n+1) {
    background: #fd5f00;
}

.divi > h2 {
    font-size: 27px;
    line-height: 1.2;
}

.divi > p {
    padding-top: 1em;
    font-size: 20px;
}

/* --------------------------------------- */

.offers {
    width: 70vw;
    display: flex;
}

.offer-content {
    margin: 0 2em;
}

.offer-content > h2 {
    color: rgba(0, 0, 0, 0.8);
    margin: 1em 0;
    font-size: 35px;
}

.offer-content p {
    color: #666666;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 1em;
}

.ocd-pic {
    width: 10em;
    height: 4em;
    border-radius: 50%;
    background-color: #fd6100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

.ocd-picture {
    width: 1.5em;
}

.data-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ocd-data > p {
    padding-top: .5em;
}

.offer-content-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6em;
    padding: 3em 0;
}

.offer-photo {
    width: 80em;
}

.university {
    background: linear-gradient(45deg, rgb(0,0,0,0.6), rgba(253, 95, 0, 0.6)), url("./images/bg_3.jpg");
    width: 100%;
    height: 40em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.university-top {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.univ-img {
    margin-right: 5em;
    width: 40em;    
}

.univ-content {
    width: 40em;
    color: #fff;
}

.univ-content > h2 {
    font-size: 35px;
}

.univ-content > p {
    margin-top: 4em;
    font-size: 16px;
}

.university-down {
    padding-top: 5em;
    width: 70vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------------------------------------- */

.courses {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.courses > h2 {
    font-size: 40px;
    line-height: 1.3;
}

.courses > span {
    padding: 2em 3em;
    font-size: 20px;
}

.course-content {
    padding: 0 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cc-data {
    margin: 0 0.5em;
}

.cc-data-pic > img {
    width: 25em;
    height: 25em;
    object-fit: cover;
}

.cc-data-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cc-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cc-name > p {
    padding-left: 5px;
}

.cc-name > i {
    color: #fd5f00;
}

.cc-data-title {
    padding: 1em 0;
}

.cc-data-desc {
    padding: 0 0 1em 0;
}

/* ----------------------------------------- */

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.teachers > h2 {
    padding: 1em 0;
    font-size: 40px;
}

.teachers > p {
    padding: 0 0 1em 0;
    font-size: 20px;
}

.teacher-data {
    padding: 0 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teacher-pic {
    width: 25em;
    height: 25em;
}

.teacher-title {
    padding-top: 2em;
}

.teacher-title:hover {
    color: #fd6100;
}

.teacher-d {
    color: #fd6100;
}

.teacher-desc > p {
    padding: 1em 1em;
    font-size: 17px;
}

/* ------------------------------------ */
.form {
    margin: 2em 0;
    background: linear-gradient(45deg, rgba(253, 95, 0, 0.6), rgb(0,0,0,0.6)), url("./images/bg_5.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40em;
    color: #fff;
}

.form-content > h2 {
    padding: 3em 0 0 25em;
    font-size: 40px;
}

.form-content > p {
    margin: 0 0 0 51em;
    padding: 3em 0 0 2em;
    font-size: 18px;
    width: 25em;
}

.form-data input {
    all: unset;
    width: 15em;
    height: auto;
}

.form-data {
    font-size: 18px;
    margin-top: 5em;
    margin-left: 50em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.line {
    margin-top: 1em;
    display: block;
    width: 20em;
    height: 2px;
    background-color: #fff;
}

.form-data .btn {
    width: 15em;
}

/* ---------------------------------------- */

.photo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-pic {
    width: 30em;
}

/* --------------- FOOTER -------------- */

footer {
    padding-top: 8em;
    padding-bottom: 8em;
    background-color: #232323;
    color: #fff;
}

.top-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 3em;
}

.footer-content > h2 {
    margin-bottom: 2em;
}

.footer-pic {
    width: 5em;
}

footer i {
    color: #fff;
}

.footer-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-data {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.footer-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-admin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-last > button {
    background: blueviolet;
	color: #fff;
	border: none;
	padding: .5em 1em;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 5%;
}

.footer-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 


.footer-down {
    text-align: center;
    margin: 8em 0 0 0;
}


